* {
  box-sizing: border-box;
}

.btn {
  border: 3px solid black;
  background-color: white;
  padding: 10px 15px;
  border-radius: 8px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  font-size: 20px;

  position: relative;
}
.btn span{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  width: 0%;

  background-color: black;
}